html {
    background-image: url("images/rsz_keyboard.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(40,40,40,1);
    background-blend-mode: multiply;
    margin: 0 auto;
    padding: 0 auto;
}
.landing { 
    width: 100%;
    height: 100%;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
	color: grey
}
.about {
    float: left;
    margin: -34px 30px 50px 225px;
    
}
.work {
    float: left;
    margin: -34px 50px 50px 50px;
}
.blog {
    float: right;
    margin: -34px 220px 30px 20px;
}
.contact {
    float: right;
    margin: -34px 50px 50px 50px;
}
img { 
    display: block;
    margin: auto;
}
.box {
  width: 20%;
  height: .5%;
  background: grey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#gears img {
    width: 150px;
    display: block;
    margin-top: 120px;
}
#opening {
    text-align: center;
    color: #498AF2;
    font-size: 130px;
    font-family: 'Pacifico', cursive;
    margin-top: -60px;
}
.intro {
    background-color: #5BC14D;
    width: 100%;
    min-width: 100vh;
    max-width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    margin-top: 8px;
}
.intro h1 {
    color: white;
    font-size: 75px;
    text-align: center;
    margin-top: 3px;
    font-family: 'PT Sans', sans-serif;
}
.line {
    display: block;
    width: 40%;
    height: 1px;
    background-color: darkgreen;
    margin: -45px auto 0 auto;
}
